/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 16 Feb 2023, 21:00:09
    Author     : mikea
*/

.login-bg{
    
    -fx-background-color:linear-gradient(to bottom right,#2f466b,#662d60);
}
.exit{
    -fx-background-color:#c22c40;
    -fx-background-radius:5px;
    -fx-cursor:hand;
}
.textfield-design{
    -fx-background-color:transparent;
    -fx-background-radius:10px;
    -fx-border-color:linear-gradient(to bottom right,#2f466b,#662d60);
    -fx-border-radius:10px;
    -fx-text-inner-color:#FFFF;
}
.button-design{
     -fx-background-color:linear-gradient(to bottom right,#2f466b,#662d60);
     -fx-background-radius:20px;
      -fx-cursor:hand;
     
}
.button-design:hover{
     -fx-background-color:linear-gradient(to bottom left,#517ab5,#ae44a5);
     -fx-background-radius:20px;
      -fx-cursor:hand;
     
}
.hypertext-design{
    -fx-text-fill:#5185c5;
    -fx-underline:false;
    -fx-border-color:transparent;
}
.hypertext-design:hover{
    
    -fx-underline:true;
    
}