/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/*
    Created on : 20 févr. 2023, 20:55:46
    Author     : user
*/
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 21 avr. 2022, 02:26:45
    Author     : ASUS
*/

.login-bg{
   
    -fx-background-color:linear-gradient(to bottom right,#2f466b,#662d60);
}

.hyp{
    -fx-text-fill: black;
}

.exit{
    -fx-background-color:#c22c40;
    -fx-background-radius:5px;
    -fx-cursor:hand;
}
.textfield-design{
    -fx-background-color:transparent;
    -fx-background-radius:10px;
    -fx-border-color:linear-gradient(to bottom right,#2f466b,#662d60);
    -fx-border-radius:10px;
    -fx-text-inner-color:#000;
}
.button-design{
     -fx-background-color:linear-gradient(to bottom right,#2f466b,#662d60);
     -fx-background-radius:20px;
      -fx-cursor:hand;
     
}
.button-design:hover{
     -fx-background-color:linear-gradient(to bottom left,#517ab5,#ae44a5);
     -fx-background-radius:20px;
      -fx-cursor:hand;
     
}
.hypertext-design{
    -fx-text-fill:#5185c5;
    -fx-underline:false;
    -fx-border-color:transparent;
}
.hypertext-design:hover{
   
    -fx-underline:true;
   
}
.comboBox  {
    -fx-text-fill: white; /* changer la couleur du texte en rouge */
    -fx-font-size: 15px;
      -fx-font-weight: bold;/* changer la taille de police à 14px */
}